fastapi
slowapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
alembic
python-dotenv
pydantic-settings
PyJWT
black
flake8
autoflake8
pytest
pytest-asyncio
pytest-env
pytest-mock
httpx
isort
bcrypt
chromadb
openai
beautifulsoup4
lxml